@{
    ViewData["Title"] = "Home Page";
}
<div class="home-main-container">
    <div class="shape rect ndrcreates-7981e53bfbf0"></div>
    <div class="card-group d-flex flex-wrap">
        <div class="card m-2 bg-dark">
            <img src="~/assets/UnityPackage.png" class="card-img-top"
                 alt="Responsive Image" />
            <div class="card-body">
                <h5 class="card-title text-light">Unity Packages</h5>
                <p class="card-text text-light">
                    Enhance your game development journey with my custom Unity packages,
                    designed to help you create captivating experiences.
                    Watch the packages in action on my YouTube channel,
                    where I demonstrate their features and provide valuable insights.
                </p>
                <p class="card-text text-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
                <a class="btn btn-primary" asp-controller="Unity Packages" asp-action="Index">Click for More</a>
            </div>
        </div>
        <div class="card m-2 bg-dark">
            <img src="~/assets/BlogSample.png" class="card-img-top"
                 alt="Palm Springs Road" />
            <div class="card-body">
                <h5 class="card-title text-light">Blog</h5>
                <p class="card-text text-light">
                    Dive into thought-provoking discussions and enriching content through my blog.
                    Explore a variety of articles, books, and valuable insights on interesting topics
                    related to software development, theoretical computer science, game design, and more.
                </p>
                <p class="card-text text-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
                <a class="btn btn-primary" asp-controller="BlogPosts" asp-action="Index">Click for More</a>
            </div>
        </div>
        <div class="card m-2 bg-dark">
            <img src="~/assets/CoursesWallapper.png" class="card-img-top"
                 alt="Los Angeles Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title text-light">Courses</h5>
                <p class="card-text text-light">
                    Level up your skills with my Game Development and Programming courses!
                    Whether you're a beginner or an experienced programmer,
                    there's something for e veryone. Discover both free and
                    premium courses tailored to enhance your learning journey.
                </p>
                <p class="card-text text-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
                <a class="btn btn-primary" asp-controller="Courses" asp-action="Index">Click for More</a>
            </div>
        </div>
        <div class="card m-2 bg-dark">
            <img src="~/assets/portfolioImgRect.png" class="card-img-top"
                 alt="Los Angeles Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title text-light">Portfolio</h5>
                <p class="card-text text-light">
                    Explore my collection of software and game development projects
                    that showcase my technical skills, creativity, and passion for coding.
                </p>
                <p class="card-text text-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
                <a class="btn btn-primary" asp-controller="Portfolio" asp-action="Index">Click for More</a>
            </div>
        </div>
    </div>
</div>

